.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uniName {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: rgb(49, 49, 158);
}

.title {
  margin-top: 10px;
  margin-bottom: 15px;
}

.image {
  width: 300px;
  height: 300px;
}

.imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  flex: 1;
}

.formField {
  padding-right: 50px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 2rem;
    height: min-content;
  }
  .imgDiv {
    margin-top: 20px;
  }

  .child {
    padding: 0 10px;
  }
  .formField {
    padding-right: 0px;
  }
  .btn {
    padding-bottom: 50px;
  }

  .title {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
